---
#permalink: KHONG DUOC DUNG de paginate!
title: Blogs
description: "Follow our news and update"
---

{% for post in paginator.posts %}
<div class="row">
	<div class="col s12 m4 hide-on-med-and-down">
		<!--<img src="https://assets.entrepreneur.com/content/3x2/274/20161108193331-GettyImages-594918166.jpeg">-->
		<a href="{{ post.url | prepend: site.domain }}"><img src="{{ post.header-img}}" class="responsive-img"></a>
	</div>
	<div class="col s12 m8">
		<article>
    <a>{{ post.categories[0] | upcase }}</a>
    <a class="post-link" href="{{ post.url | prepend: site.domain }}">
        <h2 class="post-title">{{ post.title }}</h2>
    </a>
    
    <p class="post-subtitle">
			{% if post.excerpt %}
        {{ post.excerpt | remove: '<p>' | remove: '</p>' |remove: '<h2>' | remove: '</h2>' }}
      {% else %}
      	{{ post.description | remove: '<p>' | remove: '</p>' }}
      {% endif %}
    </p>
    
    <p class="post-meta" style="font-size:90%">
    {% if post.author %}
      <i class="fa fa-user"></i> {{ post.author }} &nbsp;&nbsp;
    {% else %}
      {{ site.title }}
    {% endif %} 
      <i class="fa fa-calendar"></i> {{ post.date | date: "%d/%m/%Y" }}
    </p>
    
		</article>
	</div>
</div>
<hr class="style">

<div style="margin-top: 40px"></div>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div>
    {% if paginator.previous_page %}
        <a class="btn btn-flat grey lighten-4" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
        <a class="btn btn-flat grey lighten-4" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    {% endif %}
</div>
{% endif %}
